/* Homepage */

.hero_section_img {
  object-position: center;
  object-fit: cover;
  overflow: hidden;
  opacity: 85%;
}

#grafico_service_page {
  opacity: 75%;
  border-radius: 55px;
}

/* input[type="radio"] :checked {
  background-color: darkgrey;
} */

#ImageDetailsLawyer {
  width: 180px;
  height: 180px;
}
