/* Homepage */

.hero_section_img {
  object-position: center;
  object-fit: cover;
  overflow: hidden;
  opacity: 85%;
}

#grafico_service_page {
  opacity: 75%;
  border-radius: 55px;
}

input[type="radio"]:checked {
  background-color: darkgrey;
  border: 1px solid darkgray;
}

input[type="radio"]:focus {
  outline: darkgray solid 1px;
}

input[type="radio"]:active {
  outline: darkgray solid 1px;
}

#ImageDetailsLawyer {
  width: 150px;
  height: 180px;
}

.articleSelectedClass {
  border: 3px solid #decec1;
  background-color: #f1e8e0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
